.form__line {
  width: 100%;
  opacity: 0.2;
  border: 1px solid #000;
  margin-bottom: 29px;
  box-sizing: border-box;
}

.form__line:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 580px) {
  .form__line {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 580px) {
  .form__line:last-of-type {
    margin-bottom: 46px;
  }
}
