.form__title {
  padding: 0;
  margin: 33px 64px 57px 36px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 580px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 24px 22px 69px 22px;
  }
}
