.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
  margin-right: 30px;
}

@media screen and (max-width: 900px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 24.25px;
  }
}
